In [2]:
c=int(input('enter the temp. in celcius'))
print(f'{c}°C is {(c*9/5)+32} in farenheit')

enter the temp. in celcius60
60°C is 140.0 in farenheit

In [15]:
r=int(input('enter thr radius'))
ar=3.14159265359*(r**2)
print(f'the area of circle is {ar:.2f}')

enter thr radius60
the area of circle is 11309.73

In [24]:
seats=['LB','MB','UB','LB','MB','UB','SL','SU']
n=int(input('enter the seat number'))
re=n%len(seats)
print(f'your seat is {seats[re]}')

enter the seat number56
your seat is LB

In [1]:
a1,a2=list(map(int,input().split()))
x1,x2=list(map(int,input().split()))
print(f'the length is {abs(a1-a2)}')
print(f'the width is {abs(x1-x2)}')
print(f'the area of rectange is {abs((a1-a2)*(x1-x2))}')

2 3
5 6
the length is 1
the width is 1
the area of rectange is 1

In [35]:
a,b,c=list(map(int,input().split()))
if a==b and a==c and b==c:
    print('the trinage is equilateral')
if a==b and a!=c or b==c and c!=a or c==a and a!=b:
    print('the trinage is isosceles triangle ')
if a==b and a!=c or b==c and c!=a or c==a and a!=b:
    print('the trinage is right angle triangle')
if a!=b and a!=c and b!=c:
    print('the trinage is odinary triangle')

4 5 6
the trinage is odinary triangle

# assis 2

# assis 3

In [7]:
def func_1(sample):
    aft_lst=[]
    for i in sample:
        if i in aft_lst:
            continue
        else:
            aft_lst.append(i)
    return aft_lst


sample=[1,2,3,3,3,3,4,5]
a=func_1(sample)
print(a)

[1, 2, 3, 4, 5]

In [12]:
def calculation(a,b):
    sm=a+b
    sub=a-b
    return(sm,sub)

a=10
b=5
sm,sub=calculation(a,b)
print(f'the addition is {sm} and subtraction is {sub}')

the addition is 15 and subtraction is 5

In [1]:
def Employee(name,salary=10000):
    print(f'{name}, {salary}')
    
Employee('Polard')
Employee('benstocks',20000)

Polard,10000
benstocks,20000

In [87]:
arr1=[1, 2, 3, 5, 7, 8, 9, 10]
arr2=[1, 2, 4, 8, 9]
       
intersection=list(filter(lambda x:x in arr1,arr2))
print(intersection)

[1, 2, 8, 9]

In [42]:
def recur(n):
    if n <= 1:
        return n
    else:
        return(recur(n-1) + recur(n-2))

n=int(input())
for i in range(n):
    print(recur(i))

15
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377

In [85]:
def islow():
    st='The quick Brow Fox'
    x=0
    y=0
    for i in st.split():
        for j in i:
            if j.islower():
                x+=1
            if j.isupper():
                y+=1
    print(f'No. of Upper case characters : {y}\nNo. of Lower case Characters : {x}')
    
    
islow()

No. of Upper case characters : 3
No. of Lower case Characters : 12

In [55]:
aDD=lambda n:n+15
print(aDD(15))

print('\n')
multi=lambda a,b:a*b
print(multi(10,10))

30


100

In [65]:
a=[1,2,3,4,5,6,7,8,9,10]
eve=filter(lambda i:i%2==0,a)
odd=filter(lambda i:i%2!=0,a)
for i in eve:
    print(i,end=' ')
print('\n')
for i in odd:
    print(i,end=' ')

2 4 6 8 10

1 3 5 7 9

In [74]:
a=[1,2,3,4,5,6,7,8,9,10]
ev=len(list(filter(lambda x:x%2==0,a)))
od=len(list(filter(lambda y:y%2==0,a)))
print(ev)
print(od)

5
5

In [2]:
n='I\'m Slim Shady, yes, I\'m the real Shady'
k=0
for i in n:
    if i==' ':
        k+=1
    else:
        continue
print(k)

7

In [20]:
a=list(range(1,10))
d=list(range(1,10))

In [33]:
    z=choices(a)
    print(z)
    a.remove(z[0])    
    print(a)

[8]
[1, 2, 3, 4, 6, 7, 9]

In [18]:
from random import choices
x=chr(choices(a))
print(type(x))

TypeError: an integer is required (got type list)

In [1]:
a=(1,2,3,4,5,6)
print(a[::-1])

(6, 5, 4, 3, 2, 1)

In [1]:
c=1
def add():
    c=c+2

c=c*3
add_mult()
print(c)

5

In [3]:
mylst=3,4.60,"dog"
print(mylst)

(3, 4.6, 'dog')

In [6]:
my=set([1,2,3,5,4,10,9])
my.remove(22)
print(my)

KeyError: 22

# lab work

In [9]:
class rectangle():
    def __init__(i,length,breadth):
        i.length=length
        i.breadth=breadth
    def area(i):
        return i.length*i.breadth
    def parameter(i):
        return 2*(i.length+i.breadth)

In [10]:
r=rectangle(10,20,10,10,10,10)

In [11]:
r.area()
r.parameter()

60

In [6]:
class vehicle():
    def __init__(i,name,millage,capicity,price):
        i.name=name
        i.millage=millage
        i.capicity=capicity
        i.price=price
    def fare(i):
        return(i.capicity*i.price)
class bus(vehicle):
    def fare(i):
        return(i.capicity*i.price*(10/100)+i.capicity*i.price)

In [7]:
b=vehicle('l&t',20,40,100)
b.fare()
b1=bus("Volvo bud",20,50,100)
b1.fare()

5500.0

In [11]:
import random
suit=('Diamond','Hearts','Clubs','Spades')
rank=('Two','Three','Four','Five','Six','Seven','Eight','Nine','Ten','Jack','Queen','King','Ace')
value={'Two':2,'Three':3,'Four':4,'Five':5,'Six':6,'Seven':7,'Eight':8,'Nine':9,'Ten':10,'Jack':11,'Queen':12,'King':13,'Ace':14}

In [12]:
class card():
    def __init__(i,suit,rank):
        i.suit=suit
        i.rank=rank
        #i.value=value[rank]
    def __str__(i):
        return (f'{i.rank} {i.suit}')

In [13]:
c=card("Ace","Two")
print(c)

Two Ace

In [14]:
class deck():
    def __init__(self):
        self.dek=[]
        for i in suit:
            for j in rank:
                create=card(i,j)
                self.dek.append(create)
    def shufle(self):
        random.shuffle(self.dek)
    def POP(self):
        return self.dek.pop()

In [15]:
d=deck()
print(d)

<__main__.deck object at 0x000001F024AD3F10>

In [16]:
lst=[]
for i in d.dek:
    print(i)

Two Diamond
Three Diamond
Four Diamond
Five Diamond
Six Diamond
Seven Diamond
Eight Diamond
Nine Diamond
Ten Diamond
Jack Diamond
Queen Diamond
King Diamond
Ace Diamond
Two Hearts
Three Hearts
Four Hearts
Five Hearts
Six Hearts
Seven Hearts
Eight Hearts
Nine Hearts
Ten Hearts
Jack Hearts
Queen Hearts
King Hearts
Ace Hearts
Two Clubs
Three Clubs
Four Clubs
Five Clubs
Six Clubs
Seven Clubs
Eight Clubs
Nine Clubs
Ten Clubs
Jack Clubs
Queen Clubs
King Clubs
Ace Clubs
Two Spades
Three Spades
Four Spades
Five Spades
Six Spades
Seven Spades
Eight Spades
Nine Spades
Ten Spades
Jack Spades
Queen Spades
King Spades
Ace Spades

In [7]:
print(d.POP())

Ace Spades

In [8]:
print(d.shufle())

None

In [19]:
#d=[]
d=list(map(int,input().split()))

5 4 3 2 1

In [20]:
for i in d:
    print(i)

5
4
3
2
1

In [21]:
print(d)

[5, 4, 3, 2, 1]